<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
    <body>
        <h1>Comments!</h1>
            <form method="POST">
                <textarea name="comment"></textarea>
                <div>
                <button type="submit">Post Comment</button>
                </div>
            </form> 
            
            <div>
                <br>
            </div>

        {{ range .}}
        <div>
        {{ . }}
        </div>
        {{ end }}
    </body>

</html>
